a.me-3.py-2.link-body-emphasis.text-decoration-none{
    color: rgb(62, 61, 61);
}
span.fs-5{
    color: rgb(62, 61, 61);
}
a.nav-link.p-0.text-body-secondary{
    color: rgb(62, 61, 61);
}
a{
    color: rgb(68, 19, 147);
}